a.menu {font-family: arial, helvetica, sans-serif; font-size:16pt; color:#ffffff; text-decoration:none; font-weight:normal}
a.menu:link {color:#ffffff}
a.menu:visited {color:#ffffff}
a.menu:active {color:#FFff77}
a.menu:hover {color:#FFff77; text-decoration:none}

a.h {color:#9B8A6E}
a.h:link {color:#9B8A6E}
a.h:visited {color:#9B8A6E}
a.h:active {color:#9B8A6E}
a.h:hover {color:#000000; text-decoration:underline}

a.h3 {color:#9B8A6E; text-decoration:none}
a.h3:link {color:#9B8A6E}
a.h3:visited {color:#9B8A6E}
a.h3:active {color:#9B8A6E}
a.h3:hover {color:#000000; text-decoration:underline}

a.t {color:#444444; text-decoration:none}
a.t:link {color:#444444}
a.t:visited {color:#444444}
a.t:active {color:#444444}
a.t:hover {color:#000000; text-decoration:underline}

a.tu {color:#444444;}
a.tu:link {color:#444444}
a.tu:visited {color:#444444}
a.tu:active {color:#444444}
a.tu:hover {color:#000000; text-decoration:underline}

a.tur {color:#444444;}
a.tur:link {color:#444444}
a.tur:visited {color:#444444}
a.tur:active {color:#444444}
a.tur:hover {color:#ee0000; text-decoration:underline}

a.w {color:#bbbbbb; text-decoration:none}
a.w:link {color:#bbbbbb}
a.w:visited {color:#bbbbbb}
a.w:active {color:#bbbbbb}
a.w:hover {color:#bbbbbb; text-decoration:underline}

h1 {color:#5f5f7f; font-family:verdana,arial,helvetica; font-size:25px; font-weight:normal}

h2 {color:#9B8A6E; font-family:verdana,arial,helvetica; font-size:20px; font-weight:normal}
.t2 {color:#444444; font-family:verdana,arial,helvetica; font-size:15px; font-weight:normal}

h2.w {color:#dddddd; font-family:verdana,arial,helvetica; font-size:20px; font-weight:normal}
.wt2 {color:#dddddd; font-family:verdana,arial,helvetica; font-size:14px; font-weight:bold}
.wt2s {color:#dddddd; font-family:verdana,arial,helvetica; font-size:12px; font-weight:normal}

.bt2 {color:#9B8A6E; font-family:verdana,arial,helvetica; font-size:20px; font-weight:normal}
.bt2s {color:#9B8A6E; font-family:verdana,arial,helvetica; font-size:14px; font-weight:bold}

h3 {color:#9B8A6E; font-family:verdana,arial,helvetica; font-size:18px; font-weight:normal}
.t3 {color:#444444; font-family:verdana,arial,helvetica; font-size:13px; font-weight:normal}

.copy {color:#eeeeee; font-family:verdana,arial,helvetica; font-size:10px}
